/* Fonts */

/* Inter Regular */
@font-face {
  font-display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/inter/Inter-Regular.woff2") format("woff2");
}

/* Inter Bold */
@font-face {
  font-display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/inter/Inter-Bold.woff2") format("woff2");
}

/* Inter Display Regular */
@font-face {
  font-display: block;
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/inter-display/InterDisplay-Regular.woff2") format("woff2");
}

/* Inter Display Bold */
@font-face {
  font-display: block;
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/inter-display/InterDisplay-Bold.woff2") format("woff2");
}

/* Audiowide Regular 400 */
@font-face {
  font-display: block;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Audiowide/Audiowide-Regular.woff2") format("woff2");
}

/* Raleway Regular 400 */
@font-face {
  font-display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Raleway/Raleway-Regular.woff2") format("woff2");
}

/* Raleway italic 400 */
@font-face {
  font-display: block;
  font-family: "Raleway-italic";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Raleway-Italic/Raleway-Italic.woff2") format("woff2");
}