---
import Social from "@components/common/Social.astro";
---

<footer class="glass container lg:my-4 lg:rounded-lg intersect:animate-fadeUp opacity-0">
  <div class="row py-2 lg:py-0 items-center flex-wrap-reverse">
    <div class="text-center lg:col-6 lg:mb-0 lg:text-left">
      <ul>
        <li class="m-2 inline-block">
          <a href="/terms">&copy; Escabias Mathieu 2026</a>
        </li>
      </ul>
    </div>
    <div class="text-center lg:col-6 lg:my-0 flex items-center justify-center lg:justify-end">
      <Social
        links={{
          youtube: "https://www.youtube.com/@SkizoPatate",
          github: "https://github.com/mathieuEscabias",
          linkedIn: "https://www.linkedin.com/in/mathieu-escabias-337aa8152/",
          email: "mathieuescabias@hotmail.com",
        }}
      />
    </div>
  </div>
</footer>
